.loader-container {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
}

.loader,
.loader:after {
	box-sizing: border-box;
}
.loader {
	display: inline-block;
	width: 32px;
	height: 32px;
}
.loader:after {
	content: " ";
	display: block;
	width: 24px;
	height: 24px;
	margin: 8px;
	border-radius: 50%;
	border: 6.4px solid #22b14c;
	border-color: currentColor transparent currentColor transparent;
	animation: loader 1.2s linear infinite;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
